*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main-conten-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ris-outer-wrapper{
    border: 1px solid grey;
    border-radius: 12px;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.color-picker-list{
    list-style: none;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
}

.color{
    width:  40px;
    height: 40px;
    background-color: grey;
    border-radius: 100%;
    margin: auto;
    transition: 0.2s;
}

.bordered{
    border: 1px dotted black;
    width: 39px;
    height: 39px;
}

.active-color{
    width:  45px;
    height: 45px;
    background-color: grey;
    border-radius: 100%;   
}

.bottom-menu-action-list{
    list-style: none;
}

.menu-action{
    cursor: pointer;
    transition: 0.2s;
}

.menu-action:hover{
    text-decoration: underline;
}

.brush-size-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
}

.brush-size-wrapper p{
    text-align: center;
}

.popup-wrapper{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.3rem;
    border: 1px solid grey;

}